{{ $username := promptString "username(weineel)" -}}
{{ $email := promptString "email(LiJF_wn@163.com)" -}}

{{ $hosttag := promptString "主机标签[ps、home、ali_server...etc]" -}}

data:
  username: {{ default $username "weineel" | quote }}
  email: {{ default $email "LiJF_wn@163.com" | quote }}
  hosttag: {{ $hosttag | quote }}
