# 非交互式 shell 也会执行这个文件，不会执行 .zshrc

###
# 不同操作系统的配置
###
{{- if eq .chezmoi.os "darwin" }}
# darwin (macOS)

eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

{{- else if eq .chezmoi.os "linux" }}
# linux

{{- else }}
# other operating system

{{- end }}

# 优先使用 mise 管理的工具
if [ -x "$HOME/.local/bin/mise" ]; then
    eval "$("$HOME/.local/bin/mise" activate zsh --shims)"
fi
