# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = {{ .username }}
email = {{ .email }}

[core]
	editor = nvim
[init]
  defaultBranch = main
# rebase 时使用 vscode
[sequence]
	editor = code --wait
